.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 200px !important;
}

.navBar a {
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 960px) {
  .navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5px !important;
  }
}
