.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 200px !important;
}

/* .navBar a {
  color: white;
  text-decoration: none;
} */

.sideNav {
  background-color: white;
  position: fixed;
  top: 0px;
  left: -300px;
  width: 300px;
  height: 100vh;
  z-index: 1000000;
  transition: left 0.3s ease-in-out;
  overflow-y: scroll;
}

.sideNavShow {
  background-color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100vh;
  z-index: 1000000;
  transition: left 0.3s ease-in-out;
  overflow-y: scroll;
}

.sideNav img,
.sideNavShow img {
  width: 50px;
}

.sideNavShow a {
  color: #fff;
  display: flex;
  width: 100%;
}

.nav-top {
  background-color: #434343;
  height: 250px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 10px !important;
}

.links {
  background-color: white;
  color: #434343;
  width: 300px;
  margin-top: 20px !important;
}

.links li {
  display: flex;
  align-items: center;
  padding: 15px 10px !important;
  cursor: pointer;
}

.auth-links li {
  display: flex;
  align-items: center;
}

.auth-links li a {
  margin-left: 20px !important;
}

.links li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.links li:hover svg {
  color: rgba(0, 0, 255, 0.5);
}

.links li svg {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.3);
}

.links li span,
.links li a {
  margin-left: 20px !important;
}

.links li:first-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 5px !important;
}

.auth-links li:first-child {
  border-bottom: 0px;
  margin-bottom: 0px !important;
}

.links a {
  color: #434343;
  text-decoration: none;
}

.nav-items {
  position: absolute;
  top: 0px;
  text-align: left;
}

.bg-dark {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: block;
}

.bg-dark-hide {
  display: none;
}

@media screen and (max-width: 960px) {
  .navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px !important;
  }
}
